/* General */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');
* {
    background-color: #0c3356;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11497c;
}

a:visited {
    color: black;
    text-decoration: none;
}

.section {
    display: none;
}

.visible {
    display: block;
}

.shape-container {
    width: 90%;
    height: 90vh;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.outline-box {
    height: 90%;
    width: 90%;
    padding: 100px;
    box-sizing: border-box;
    position: relative;
}



/*Name Links*/
.name-links {
    position: absolute;
    top: 10px;
    left:10px;
    color: #b4bec8;
}

h1, h2 {
    margin: 0;
}

h2 {
    margin-bottom: 40px;
}

#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigation li {
    margin-right: 15px;
    margin-bottom: 10px;
}

#navigation a {
    text-decoration: none;
    font-size: 15px;
    color: #b4bec8;

}

#navigation a:hover,
#navigation a.active {
    font-weight: bold;
    color: #b4bec8;
}

/*Home section*/
#home {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: justify;
}

#home span {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #b4bec8;
}

/*Info Section*/
#info {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
}

#info img {
    border-radius: 10px;
    display: block;
    width: 200px;
    height: auto;
    margin-bottom: 10px;

}

#info h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #b4bec8;;
}

#info .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#info .icons i {
    margin-bottom: 8px;
    font-size: 20px;
    color: #b4bec8;
}

/*Projects Section*/
#projects {
    position: absolute;
    bottom: 200px;
    right: 20px;
}

#projects nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#projects nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#projects nav a {
    text-decoration: none;
    font-size: 20px;
    color: #b4bec8;
}

/*Contact Section*/
#contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact h2 {
    margin-bottom: 20px;
    color: #b4bec8;
}

#contact .buttons-container {
    display: inline;
}

#contact .contact-button {
    border-radius: 12px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #b4bec8;
    color: black;
    text-decoration: none;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact .contact-button:hover {
    background-color: #11497c;
}

#contact.visible {
    display: flex;
}

/*Small Screens*/
@media only screen and (max-width: 600px) {
    .shape-container {
        width: 100%;
    }

    .outline-box {
        padding: 20px;
    }

    #home,
    #info,
    #projects,
    #contact {
        position: static;
        transform: none;
        width: 100%;
        margin-top: 20px;
    }

    #home span {
        font-size: 16px;
    }

    #info img {
        width: 100%;
        max-width: 300px;
    }

    #info .icons i {
        font-size: 16px;
    }

    #projects nav a {
        font-size: 16px;
    }
}
