/* General */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');
* {
    background-color: rgba(12, 51, 86, 0.001);

}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11497c;
}

a:visited {
    color: black;
    text-decoration: none;
}

.section {
    display: none;
}

.visible {
    display: block;
}

.shape-container {
    width: 90%;
    height: 90vh;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
    z-index: 0;
}

.outline-box {
    height: 100%;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}



/*Name Links*/
.name-links {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #b4bec8;
    z-index: 2;
    /* opacity: 0.1; */
}

h1, h2 {
    margin: 0;

}

h2 {
    margin-bottom: 40px;
}

#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigation li {
    margin-right: 15px;
    margin-bottom: 10px;
}

#navigation a {
    text-decoration: none;
    font-size: 15px;
    color: #b4bec8;

}

#navigation a:hover,
#navigation a.active {
    font-weight: bold;
    color: #b4bec8;
}

/*Home section*/
#home {
    position: absolute;
    bottom: 30px;
    right: 62px;
    text-align: justify;
}

#home span {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #b4bec8;
}

/*Info Section*/
#info {
    position: absolute;
    top: 30px;
    right: 62px;
    text-align: center;
    margin-top: 62px;
    z-index: 1;
}

#info img {
    border-radius: 10px;
    display: block;
    width: 200px;
    height: auto;
    margin-bottom: 10px;

}

#info h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #b4bec8;;
}

#info .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#info .icons i {
    margin-bottom: 8px;
    font-size: 20px;
    color: #b4bec8;
}

/*Projects Section*/
#projects {
    position: absolute;
    bottom: 200px;
    right: 81px;
}

#projects nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#projects nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#projects nav a {
    text-decoration: none;
    font-size: 20px;
    color: #b4bec8;
}

/*Contact Section*/
#contact {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#contact h2 {
    margin-bottom: 20px;
    color: #b4bec8;
}

#contact .buttons-container {
    display: inline;
}

#contact .contact-button {
    border-radius: 12px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #b4bec8;
    color: black;
    text-decoration: none;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact .contact-button:hover {
    background-color: #11497c;
}

#contact.visible {
    display: flex;
}

/*Small Screens*/
@media only screen and (max-width: 575.98px) and (max-height:932){
    .shape-container {
        width: 100%;
        height: auto;
        margin: 0;
        z-index: 0;
        position: relative;
    }

    .outline-box {
        padding: 10px;
        z-index: 1;
        position: relative;
    }

    .name-links {
        position: absolute;
    top: 5px;
    left: 5px;
    color: #b4bec8;
    z-index: 2;
    background-color: rgba(180, 190, 200, 0.5); /* Adjust the color and opacity */
    padding: 10px;
    }

    h2 {
        margin-bottom: 10px;
        opacity: 1;
        z-index: 2;
    }

    #home,
    #info,
    #projects,
    #contact {
        position: relative;
        transform: none;
        width: 100%;
        margin-top: 10px;
    }

    #home span {
        font-size: 12px;
        bottom: 10px;
        right: 10px;
    }

    #info {
        position: absolute;
    top: 30px;
    right: 62px;
    text-align: center;
    margin-top: 62px;
    z-index: 1;
    background-color: rgba(180, 190, 200, 0.5); /* Adjust the color and opacity */
    padding: 20px;
    }

    #info img {
        border-radius: 10px;
    display: block;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    opacity: 1;

    }

    #info .icons i {
        font-size: 14px;
        z-index: 2;
    }

    #projects nav a {
        font-size: 14px;
    }
}

/*Rain*/

.rain-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
