/* General */

body {
    background-image: radial-gradient(circle, midnightblue, black);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

.contact-info li {
    float: left;
    margin: 5px;
}

/* Main Grid */

.container {
    display: grid;
    grid-template-areas: "head head"
                          "nav nav"
                          "about about-info"
                          "contact contact-info"
                          "skills skills-info"
                          "projects projects-info"
                          "footer footer";
    grid-template-columns: 3, 1fr;
    grid-template-rows: 300px 50px 12.50em auto 500px 500px 50px;
     margin: auto;
     max-width: auto;
    max-height: auto;
    grid-gap: .30%;
  }

/* header and image */

header {
    border: 1px black;
    border-style: solid;
    grid-area: head;
    color: silver;   
}

 img {
    padding: 5px;
    width: 150px;
    border-radius: 50px;
}





/* Navigation */

nav {
    grid-area: nav;
    border-style: solid;
}

nav ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: silver;
    justify-content: space-around;
}

nav a:hover {
    text-transform: uppercase;
    font-size: 1em;
}

/* Info */

.about, .about-info {
    border: 4px black;
    border-style: solid;
    color: silver;
}

.about {
    grid-area: about;
    text-align: center;
}

.about-info {
    grid-area: about-info;
    text-align: center;
}

.contact, .contact-info {
    border: 4px black;
    border-style: solid;
    color: silver;
}

.contact {
    grid-area: contact;
    text-align: center;
}

.contact-info {
    grid-area: contact-info;
}

.skills, .skills-info {
    border: 4px black;
    border-style: solid;
    color: silver;
}

.skills {
    grid-area: skills;
    text-align: center;
}

.skills-info {
    grid-area: skills-info; 
}

.projects, .projects-info {
    color: silver;
    border: 4px black;
    border-style: solid;
    
}

.projects {
    grid-area: projects;
    text-align: center;
} 

.projects-info {
    grid-area: projects-info;
}

footer {
    border: black;
    border-style: solid;
    grid-area: footer;
    color: silver;
    text-align: center;
    padding: 15px;
}